<div>
    <img src={{random.image_url}} alt="yummy beer image">
</div>

<div>
    <h2>{{random.name}}</h2>
    <p>{{random.description}}</p>
    <p>{{random.tagline}}</p>

    <h4>Food Pairing</h4>
    <ul>{{random.food-pairing}}</ul>
    <p><b>Brewers Tips:</b> {{random.brewers_tips}} </p>
</div>